<% @carts.each do |cart| %>
  <div>
    <%= link_to 'Show', cart %>
  <%= link_to 'Edit', edit_cart_path(cart) %>
  <%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
</div> <br/>
<% end %>